@use '../../mixins' as *;
@use '../../presets' as *;

.menu-btn {
  border: none;
  cursor: pointer;
  padding: 0 20px;
  display: none;
  background-color: $color-black;
  color: $color-red;
  font-size: $font-size;
  text-transform: uppercase;
  @include md {
    display: block;
  }
  &:hover {
    background-color: $color-gray;
  }
}
